@font-face {
  font-family: 'Western Rail';
  src: url('fonts/8Bit-44Pl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Western Rail', Arial, sans-serif;
  background: url(images/8bit_train.jpg) no-repeat center center fixed; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.login-wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.btn-login {
  display: inline-block;
  background: rgba(66, 133, 244, 0.7);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn-game {
  display: inline-block;
  background: rgba(66, 133, 244, 1);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-login:hover {
  background: rgba(42, 117, 243, 0.7);
}

.game-grid {
  width: 100%;
  min-height: 300px;
}

.game-controls {
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.info-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-graphic {
  display: inline-block;
}

.info-graphic img {
  width: 100px;
  height: 100px;
}

.info-graphic figcaption{
  text-align: center;
}

.game-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(66, 133, 244, 1);
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px; 
  border: 2px solid black;
}

.game-stats figure {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-stats img{
  width: 50px;
  height: 50px;
}

.game-stats figcaption{
  display: inline-block;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}